<div>

</div>
<Users></Users>

<form {{on 'submit' this.onInputChange }}>
    <label>Введіть повідомлення</label>
    <input type="text" value={{this.inputText}}>

    <button type="submit">Відправити</button>
</form>