<nav>
    <ul>

        <LinkTo @route="index">Головна</LinkTo>
        <LinkTo @route="chatuser">Чат</LinkTo>
        <LinkTo @route="contacts">Контакти</LinkTo>
        <LinkTo @route="about">Про нас</LinkTo>
    </ul>
</nav>